body {
  margin: 0%;
  padding: 0%;
  /* background-color: cadetblue; */
}
.wrapper {
  margin-top: -80px;
  margin-left: 13%;
}
.wrapper ul {
  list-style: none;
  margin-top: 2%;
}
.wrapper ul li {
  background: rgb(252, 251, 252);
  width: 350px;
  border: 1px solid rgba(218, 218, 218, 0.678);
  border-radius: 5px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: rgb(31, 30, 30);
  font-size: 21px;
  position: relative;
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  margin-left: -40px;
}
.wrapper ul li:hover {
  background-color: rgb(241, 238, 238);
}
#course {
  background: red;
  font-size: 23px;
  height: 50px;
  width: 12%;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
  color: white;
}
.wrapper ul ul {
  display: none;
}
.wrapper ul li:hover > ul {
  display: block;
}
.wrapper ul ul ul {
  margin-left: 170px;
  top: 0%;
  position: absolute;
}
#logo_div {
  height: 60px;
  display: flex;
  margin-left: 2.5%;
  position: sticky;
  width: 100px;
}
#logo_img {
  height: 70px;
}
.course_program_type1 {
  background-color: rgb(255, 255, 255);
  height: 580px;
  width: 375px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -7px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type2 {
  background-color: rgb(255, 255, 255);
  height: 580px;
  width: 378px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -70px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type3 {
  background-color: rgb(255, 254, 254);
  height: 580px;
  width: 378px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -130px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type4 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -190px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type5 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -260px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type6 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -320px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type7 {
  background-color: rgb(253, 253, 253);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -380px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type8 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -445px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type9 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -510px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_type10 {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 420px;
  border-radius: 5px;
  margin-left: 138px;
  margin-top: -570px;
  overflow-y: scroll;
  padding: 20px;
}
.course_program_subbox {
  height: 200px;
  width: 350px;
  border: solid black 3px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
}
.course_program_subbox:hover {
  border: solid rgb(245, 10, 10) 3px;
}
.course_program_list_logo_img {
  height: 18px;
  width: 20%;
  margin-top: 38px;
  margin-left: 10px;
}
.course_program_list_description_dl1 {
  font-size: 15px;
  margin-top: -40px;
  margin-left: 10px;
}
.course_program_list_description_dl2 {
  margin-top: -40px;
  margin-left: -140px;
  font-size: 15px;
}
.course_program_list_description_dl0 {
  margin-top: -45px;
  margin-left: -80px;
}
.course_program_list_description_dl00 {
  margin-left: -50px;
}
.course_program_list_description_dl3 {
  font-size: 14px;
  margin-left: -165px;
  margin-top: -40px;
  color: rgba(0, 0, 0, 0.651);
}
.course_program_list_description_newbox {
  height: 25px;
  width: 50px;
  border-radius: 4px;
  background-color: rgb(250, 3, 53);
  margin-top: -20px;
  margin-left: 10px;
  display: flex;
}
.new {
  font-size: 10px;
  color: white;
  margin-top: -10px;
  margin-left: 13px;
}
.new {
  font-size: 10px;
  color: white;
  margin-top: -10px;
  margin-left: 13px;
}
.header_headings {
  height: 60px;
  width: 40%;
  /* background: transparent; */
  margin-left: 38%;
  display: flex;
  /* background-color: aquamarine; */
}
.headings {
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  color: rgba(2, 2, 2, 0.63);
  font-weight: bolder;
  /* margin-left: 50px; */
  font-size: 100%;
  margin-top: 21px;
  margin-left: 4.5%;
}
.headings:hover {
  color: red;
}
.more_dropdown {
  display: flex;
  float: right;
  margin-top: -60px;
  /* margin-right: 200px; */
  margin-right: 10%;
  /* background-color: blue; */
  margin-left: 2%;
}
.more_dropdown ul {
  list-style: none;
  margin-top: 2%;
}
.more_dropdown ul li {
  /* background: royalblue; */
  width: 300px;
  /* width: 500%; */
  /* border: 2px solid goldenrod; */
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
  sans-serif;
  float: left;
  margin-right: 35%;
}
#more {
  height: 50px;
  width: 5em;
  /* background-color: blueviolet; */
  margin-left: -150%;
  margin-top: 2px;
  font-size: 100%;
  color: rgba(2, 2, 2, 0.63);
}
.more_dropdown ul ul {
  display: none;
}
.more_dropdown ul li:hover > ul {
  display: block;
}
.more {
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  font-weight: bolder;
}
.more_options {
  /* width: 200px; */
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
}
.more_options:hover {
  color: red;
}
.more_options {
  box-shadow: 0px 0px 5px 0px;
  background-color: rgb(250, 246, 246);
}
#start_learning_div {
  height: 50px;
  width: 12%;
  background: linear-gradient(
    to right,
    #000 0 0%,
    rgb(153, 2, 2) 0 0%,
    rgba(255, 4, 4, 0.884) 82.34%
  );
  margin-left: 85%;
  margin-top: -60px;
  border-radius: 5px;
  display: flex;
}
#start_learning_div h3 {
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  color: white;
  font-size: large;
  margin: auto;
}
#landing_page_row2_div_img {
  height: 800px;
  width: 94.5%;
  border-radius: 40px;
  position: absolute;
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#landing_page_row2_div {
  height: 800px;
  width: 95.5%;
  margin-left: 2.5%;
  margin-top: 30px;
  border-radius: 40px;
  background: linear-gradient(
    to right,
    #000000 10%,
    #000000 25%,
    #000000 15%,
    #70020249 100%
  );
  display: flex;
}
#landing_page_row2_div_content {
  height: 500px;
  width: 50%;
  /* background-color: rgb(169, 236, 13); */
  margin-left: 100px;
  margin-top: 160px;
}
#landing_page_row2_div_content_mainheading {
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  font-weight: 900;
  font-size: 320%;
  color: white;
  letter-spacing: normal;
  line-height: 1.3;
  word-spacing: 1px;
}
#landing_page_row2_div_content_mainpara {
  word-spacing: 1px;
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  font-weight: 600;
  font-size: 159%;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-top: -20px;
  color: white;
}
#landing_page_row2_div_content_explore_button {
  height: 80px;
  width: 500px;
  background-color: #F23E36;
  border-radius: 8px;
  box-shadow: 0 8px 40px rgb(0 0 0 / 24%);
}
#landing_page_row2_div_content_explore_button_content {
  font-weight: 750;
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 30px;
  letter-spacing: -1px;
  word-spacing: 5px;
  color: white;
  margin-top: 25px;
}
#right_arrow {
  height: 40px;
  width: 100px;
  margin-left: 400px;
  margin-top: -180px;
  margin-bottom: 25px;
  color: white;
}
#hiring_partners_div {
  height: 100px;
  width: 500px;
  /* background-color: teal; */
  color: white;
  font-family: "Promixa Nova", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-size: 20px;
}
span::before {
  content: " ";
  animation: animate infinite 10s;
}
@keyframes animate {
  0% {
    content: "300+ Hiring Partners";
  }
  33% {
    content: "433% Highest Salary Hike";
  }
  66% {
    content: "55,000+ Learners";
  }
  100% {
    content: "INR 73LPA Higest Salary Offered";
  }
}
#landing_page_row2_div_content_schools {
  height: 300px;
  width: 36%;
  /* background-color: tomato; */
  margin-top: 330px;
  display: grid;
  grid-template:
    "a b"
    "c d";
  padding: 10px;
  z-index: -1;
}
.school {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  margin-left: 10%;
}
#s1 {
  grid-area: a;
  margin-left: 10px;
}
#s2 {
  grid-area: b;
}
#s3 {
  grid-area: c;
  margin-top: -70px;
  margin-left: 10px;
}
#s4 {
  grid-area: d;
  margin-top: -70px;
}