*{
  margin:0px;
  padding: 0px;
}
.shead{
 
  display: flex;
 flex-direction: row;
  height:102px;
 
  background-color: rgb(47, 4, 82);
  width: 100%;
}
.lefthead{
  width: 47%;
  
}
.righthead{
  width: 47%;
 
}
#headlogo{
  color:red;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 150px;
  margin-top: 3px;

}
#headtext{
   margin-left: 250px;
  margin-top: 15px;
}
.justBelowHead{
  display:flex;
  flex-direction:row;

  height:330px;
  width:100%;
  margin-right: 15px;
    
  
 margin-top: -19px;
 
             
    background-repeat: no-repeat;
    background-size: cover;
  background-color: blue;
  
}


.vediobaxdec{
    display: flex;
    flex-direction: row;
    
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    border: 0.3px solid gray;
    height: 100px;
   

}
.vedioheading:hover{
    background-color: red;
}
.vedioheading{
    width: 25%;
    height: 30px;
    
     margin-top: 32px;
     margin-left: 2%;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     
     


}
.vediocardbox{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    height: 600px;
   
}
.vediocardbox1{
    display: flex;
    flex-direction: row;
  
    height: 90%;
    margin-top: 1%;
}
.vedio1{
  
    height: 95%;
    width: 32%;
    margin: 0.8%;
}
.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40px;
}
.text-wrapper h3{
    text-align: center;

}
.footerbox{
  width: 100%;
  height: 600px;
  
  background-color: #555454;
  display: flex;
  flex-direction: row;
}
.footerboxinside{
  width: 25%;
 
}
.footertext1{
   color: rgb(214, 211, 211);
  margin-left: 30px;
}
.footertext2{
  color: rgb(214, 211, 211);
  margin-left: 30px;
}
